.idea
*.iml
*.bkp
*.dtmp
.DS_Store
.vscode
venv
.venv
out
__pycache__/
*.py[cod]
*$py.class
output
resources/**
**.egg-info/
dist
**/secrets.env
build
.env
dial_conf/core/config.json
reports
.mypy_cache
src/chat_v2/local_config/config.json
models
